@import "nulling-styles.scss";
@import "style-for-fonts.scss";
%display {
    display: flex;
    align-items: center;
}
body {
    background: #1C1C1E;
}

header {
    width: 100%;
    height: 37px;
    background: black;
    .common_menu {
        padding: 0 10px;
        height: 100%;
        .left_menu {
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
            display: flex;
            .additional_tab {
                height: 100%;
                display: flex;
                .logo {
                    height: 100%;
                    @extend %display;
                    margin-right: 18px;
                    &__item {
                        background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                        background-position: 0% 1660px;
                        display: block;
                        height: 15px;
                        width: 70px;
                        opacity: .6;
                    }
                    &:hover .logo__item{
                        opacity: .9;
                    }
                }
                .showcase {
                    margin-right: 18px;
                    @extend %display;
                    cursor: pointer;
                    &__text {
                        font-size: 13px;
                        color: #e5e5e5;
                        opacity: .6;
                    }
                    &__check-mark {
                        background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                        background-position: 0 -570px;
                        opacity: .6;
                        width: 7px;
                        height: 4px;
                        margin-left: 7px;
                        margin-top: 3px;
                    }
                    .rotate {
                        transform: rotate(180deg);
                    }
                    &:hover .showcase__text {
                        transition: opacity ease-in-out 0.07s;
                        opacity: .9;
                    }
                    &:hover .showcase__check-mark {
                        transition: opacity ease-in-out 0.07s;
                        opacity: .9;
                    }
                }
            }
            .static-menu {
                display: flex;
                &__text {
                    height: 100%;
                    @extend %display;
                    color: #ffbe4c;
                    opacity: .6;
                    margin-right: 18px;
                }
                &__text:nth-child(2) {
                    color: #e5e5e5;
                }
                &__text:hover {
                    transition: opacity ease-in-out 0.07s;
                    opacity: .9;
                }
            }
        }
    }
}
.dropdown {
    height: 430px;
    width: 100%;
    opacity: 0;
    transition: all ease-in-out 0.15s;
    pointer-events: none;
    position: absolute;
    z-index: 52;
    top: 0;
    .shadow-block {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
        position: absolute;
        height: 145px;
        width: 100%;
        .main-dropdown {
            margin: 0 auto;
            height: 100%;
            width: 955px;
            .showcase-list {
                display: flex;
                justify-content: center;
                &__items {
                    width: 115px;
                    height: 78px;
                    cursor: pointer;
                    margin-top: 30px;
                    margin-right: 40px;
                    .content-change {
                        display: block;
                        &__logo {
                            display: block;
                            svg {
                                display: block;
                                margin: 0 auto;
                                .showcase-list__items:hover .change-color {
                                    fill: blue;
                                }
                            }
                        }
                        &__text {
                            font-family: Arial, Helvetica, sans-serif;
                            color: #9B9B9B;
                            display: block;
                            margin-top: 15px;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
                &__items:nth-child(3) {
                    width: 120px;
                    .content-change__text {
                        margin-top: 19px;
                    }
                }
                &__items:nth-child(5) {
                    width: 120px;
                    .content-change__logo {
                        margin-top: 6px;
                    }
                    .content-change__text{
                        margin-top: 24px;
                    }
                }
                &__items:nth-child(6) {
                    width: 120px;
                    margin-right: 0;
                    .content-change__logo {
                        margin-top: 10px;
                    }
                    .content-change__text {
                        margin-top: 24px;
                    }
                }
            }
        }
    }
    .group-blocks {
        padding-top: 145px;
        .media-block {
            height: 285px;
            width: 100%;
            .container {
                height: 100%;
                width: 1024px;
                display: flex;
                margin: 0 auto;
                .media-content {
                    width: 390px;
                    height: 100%;
                    margin: 0 10px 0 5px;
                    &:nth-child(1) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:nth-child(2) {
                        background-color: rgba(0, 0, 0, 0.055);
                    }
                    &__logo-game {
                        background: url("../images/media-logo/Wc9we6f7SWeZPExOChwGRA.svg") no-repeat;
                        width: 170px;
                        height: 110px;
                    }
                }
                .combine {
                    display: flex;
                    .combine-content {
                        font-family: Arial, Helvetica, sans-serif;
                        width: 370px;
                        &:nth-child(1) {
                            background: rgba(0, 0, 0, 0.13);
                            padding: 55px 20px 0;
                            width: 340px;
                        }
                        &:nth-child(2) {
                            background-color: rgba(0, 0, 0, 0.185);
                            padding: 55px 20px 0;
                            width: 266px;
                            .combine-content__title {
                                margin: 0 0 23px 9px;
                            }
                        }
                        &__title {
                            text-transform: uppercase;
                            color: #f25322;
                            font-size: 16px;
                            margin-bottom: 18px;
                        }
                        &__text {
                            font-size: 14px;
                            color: #e5e5e5;
                            line-height: 23px;
                        }
                        .platforms {
                            display: flex;
                            .platform {
                                display: flex;
                                margin: 15px 23px 0 0;
                                &__logo {
                                    background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                                    background-position: 0 -3180px;
                                    margin-right: 4px;
                                    width: 11px;
                                    height: 15px;
                                }
                                &__text {
                                    text-transform: uppercase;
                                    font-size: 12px;
                                    margin-top: 2px;
                                    color: #e5e5e5;
                                }
                                &:nth-child(2) {
                                    .platform__logo {
                                        background-position: 0 -60px;
                                    }
                                }
                                &:nth-child(2) .platform__logo {
                                    background-position: 0 -30px;
                                    width: 13px;
                                }
                                &:nth-child(3) .platform__logo {
                                    background-position: 0 -60px;
                                }
                                &:nth-child(4) .platform__logo {
                                    background-position: 0 -60px;
                                }
                            }
                        }
                        .list-links {
                            &__items {
                                margin-bottom: 12px;
                                .link-point {
                                    font-size: 13px;
                                    color: #e5e5e5;
                                    display: flex;
                                }
                                .point {
                                    background-color: #e5e5e5;
                                    margin: 6px 7px 0 0;
                                    border-radius: 50%;
                                    display: block;
                                    width: 2px;
                                    height: 2px;
                                }
                                .bottom-frame {
                                    border-bottom: 1px solid #e5e5e500;
                                    &:hover {
                                        border-bottom: 1px solid #e5e5e5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(2) {
            background: url(../images/list-logo/0.jpg) 51%;
        }
        &:nth-child(3) {
            background: url(../images/list-logo/1.jpg) 51%;
            display: none;
            .media-block .container .combine .combine-content__title  {
                color: rgb(0, 203, 205);
            }
            .media-block .container .media-content__logo-game {
                background: url("../images/media-logo/ajCX6d89TnSui2OA3TeFEQ.svg") no-repeat;
            }
        }
        &:nth-child(4) {
            background: url(../images/list-logo/2.jpg) 51%;
            display: none;
            .media-block .container .combine .combine-content__title  {
                color: rgb(30, 90, 255);
            }
            .media-block .container .combine .combine-content .platforms .platform:nth-child(2) .platform__logo {
                background-position: 0% 1660px;
                width: 70px;
            }
            .media-block .container .media-content__logo-game {
                background: url("../images/media-logo/FTVUgYTtSDKax6W2wTcuGQ.svg") no-repeat;
            }
        }
        &:nth-child(5) {
            background: url(../images/list-logo/3.jpg) 51%;
            display: none;
            .media-block .container .combine .combine-content__title  {
                color: rgb(244, 149, 17);
            }
            .media-block .container .media-content__logo-game {
                background: url("../images/media-logo/yv3mgkbvSU2cyr-hoYm-RA.svg") no-repeat;
            }
        }
        &:nth-child(6) {
            background: url(../images/list-logo/4.jpg) 51%;
            display: none;
            .media-block .container .combine .combine-content__title  {
                color: rgb(255, 200, 60);
            }
            .media-block .container .media-content__logo-game {
                background: url("../images/media-logo/xqT9r-laSye-MXwf9nOSBQ.svg") no-repeat;
                width: 100%;
                height: 100%;
            }
        }
        &:nth-child(7) {
            background: url(../images/list-logo/5.jpg) 51%;
            display: none;
            .media-block .container .combine .combine-content__title  {
                color: rgb(209, 152, 52);
            }
            .media-block .container .media-content__logo-game {
                background: url("../images/media-logo/2A13Rhr2T1uWz-gj_ENzjQ.svg") no-repeat;
                width: 210px;
                height: 35px;
            }
        }
    }
}
.showblock {
    pointer-events: initial;
    opacity: 1;
    top: 37px;
}
.main-heading {
    .title-bacground {
        width: 100%;
        height: 441px;
        position: absolute;
        object-fit: cover;
        object-position: 0 -172px;
        z-index: 30;
    }
    .nav-menu {
        background-color: rgba(39,39,43,.85);
        border-top: 1px solid rgba(255, 255, 255, 0.082);
        font-family: Arial, Helvetica, sans-serif;
        height: 66px;
        z-index: 51;
        position: relative;
        .menu-registration {
            justify-content: space-between;
            align-items: center;
            max-width: 1330px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            .main-menu {
                display: flex;
                align-items: center;
                &__items:hover .nav-links {
                    color: #fab81b !important;
                }
                &__items {
                    display: flex;
                    margin-left: 35px;
                    cursor: pointer;
                    .nav-links {
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 700;
                        color: #aaaaab;
                        line-height: 65px;
                    }
                    .nav-arrow {
                        background: url(../images/arrow/down.svg) no-repeat;
                        background-position: center;
                        position: relative;
                        margin: 17px 0 2px 10px;
                        width: 28px;
                        height: 28px;
                    }
                    .nav-arrow:before {
                        content: "";
                        position: absolute;
                        height: 10px;
                        width: 1px;
                        top: 10px;
                        background-color: #aaaaab;
                    }
                    .nav-arrow:hover:before {
                        background-color: #fab81b !important;
                    }
                    .nav-arrow:hover {
                        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA3IiB3aWR0aD0iOCIgaGVpZ2h0PSI1Ij48cGF0aCBmaWxsPSIjM2MyZjEyIiBkPSJNMTIgMlYwaC0xTDYgNCAxIDBIMHYybDUuOSA1SDZ6Ii8+PC9zdmc+) no-repeat;
                        background-position: center;
                        background-color: #fab81b;
                        cursor: pointer;
                    }
                }
                &__items:nth-child(1) {
                    background: url(../images/logo-wot/download.svg) no-repeat;
                    background-position: 0 center;
                    margin-left: 0;
                    height: 44px;
                    width: 128px;
                }
                &__items:nth-child(5) {
                    .ten-years {
                        position: relative;
                        height: 65px;
                        width: 70px;
                        &::before {
                            background: url(../images/10-year/10-year-icon.png) center / contain;
                            margin: 10px 0 0 0px;
                            position: absolute;
                            content: "";
                            z-index: 12;
                            height: 44px;
                            width: 44px;
                        }
                        &::after {
                            content: "";
                            background: url(../images/10-year/10y-icon-hover.png) center ;
                            animation: rotate 3s linear infinite;
                            transition: opacity .7s;
                            margin: -29px 0 0 -96px;
                            background-size: 130%;
                            position: absolute;
                            pointer-events: none;
                            opacity: 0;
                            height: 120px;
                            width: 100px;
                            z-index: 10;
                        }
                        &:hover::after {
                            opacity: 1;
                        }
                        @keyframes rotate {
                            from {
                              transform: rotate(360deg);
                            }
                          }
                        .rotate-hover {
                            opacity: 1;
                        }
                        &__text {
                            background: linear-gradient(to top,#d19235 0%,#cd6a11 8%,#d87519 26%,#f2bf65 61%,#ffff91 100%);
                            font-family: Arial, Helvetica, sans-serif;
                            -webkit-background-clip: text;
                            text-transform: uppercase;
                            margin-left: 40px;
                            color: transparent;
                            line-height: 65px;
                            font-weight: 600;
                        }
                    }
                }
                .nav-list {
                    background-color: rgba(39,39,43,.93);
                    position: absolute;
                    margin-left: -20px;
                    top: 65px;
                    display: none;
                    &__link {
                        display: block;
                        padding: 14px 16px;
                        color: #aaaaab;
                        font-size: 14px;
                    }
                    &__link:hover {
                        color: #fab81b !important;
                    }
                    .nav-list:first-child {
                        .nav-list__items:nth-child(2) {
                            text-transform: uppercase;
                        }
    
                    }
                }
            }
            .registration {
                background: linear-gradient(to bottom,#fab81b 0%,#ef4511 100%) no-repeat 0,linear-gradient(to bottom,#fab81b 0%,#ef4511 100%) no-repeat 100%,#f25322 linear-gradient(to bottom,#f60 0%,#a6230e 100%) no-repeat;
                box-shadow: 0 2px 0 #661000, inset 0 0 8px rgba(255,210,0,.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ef4511;
                background-size: 1px 100%,1px 100%,cover;
                width: 185px;
                height: 44px;
                &__text {
                    text-transform: uppercase;
                    position: relative;
                    z-index: 31;
                    font-weight: 700;
                    line-height: 45px;
                    color: #f9f5e1;
                    font-size: 12px;
                    text-align: center;
                    display: block;
                }
                &:before {
                    background: linear-gradient(to bottom,#fab81b 0%,#ff7e00 100%) no-repeat 0,linear-gradient(to bottom,#fab81b 0%,#ff7e00 100%) no-repeat 100%,#ff7e00 linear-gradient(to bottom,#ff7e00 0%,#c2530a 100%) no-repeat;
                    box-shadow: inset 0 0 8px rgba(255,210,0,.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ff7e00;
                    background-size: 1px 100%,1px 100%,cover;
                    position: absolute;
                    transition: opacity .3s;
                    opacity: 0;
                    content: "";
                    z-index: 30;
                    width: 185px;
                    height: 44px;
                }
                &:hover:before {
                    opacity: 1;
                }
            }
        }
    }
    .cross {
        background: url(../images/icon/cross.svg) center no-repeat;
        background-color: rgba(0,0,0,.35);
        transition: background-color .2s;
        position: absolute;
        margin-top: 20px;
        cursor: pointer;
        z-index: 50;
        width: 32px;
        height: 32px;
        right: 20px;
        &:hover {
            background-color: rgba(249,245,225,.25);
        }
    }
    .jackdaw {
        background: url(../images/logo-wot/jackdaw.svg) center no-repeat;
        transform: rotate(180deg);
    }
    .container-box {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        z-index: 50;
        width: 1330px;
        margin: 0 auto;
        .promo-block {
            margin: 0 auto;
            width: 675px;
            .limited-height {
                transition: all .25s ease-in-out;
                overflow: hidden;
                height: 300px;
                .promo-title {
                    transition: all .25s ease-in-out;
                    padding: 80px 0;
                    &__title {
                        font-size: 41px;
                        font-weight: 600;
                        line-height: 46px;
                        color: #f9f5e1;
                        text-align: center;
                    }
                    &__text {
                        margin-bottom: 25px;
                        line-height: 24px;
                        color: #e9e2bf;
                        font-size: 17px;
                    }
                    .learn-more {
                        margin: 0 auto;
                        width: 160px;
                        height: 44px;
                        &__text {
                            border: 2px solid #f9f5e1;
                            transition: background .15s;
                            text-transform: uppercase;
                            text-align: center;
                            line-height: 40px;
                            font-weight: 700;
                            color: #f9f5e1;
                            font-size: 13px;
                            display: block;
                        }
                        &:hover .learn-more__text {
                            background: #f9f5e1;
                            color: #474747;
                        }
                    }
                }
                .logo-wot {
                    background: url(../images/logo-wot/logo.png) center/contain no-repeat;
                    transition: all .25s ease-in-out;
                    opacity: 0;
                    margin: 0 auto;
                    width: 272px;
                    height: 135px;
                }
                .under-wot {
                    margin-top: -270px;
                    opacity: 0;
                }
                .over-wot {
                    opacity: 1;
                }
            }
            .low-block {
                height: 180px;
            }
        }
    }
    .slider-store {
        justify-content: space-between;
        position: relative;
        display: flex;
        z-index: 50;
        width: 1330px;
        margin: 0 auto;
        .slider-block {
            background: rgb(75, 75, 78);
            width: 986px;
            height: 200px;
        }
        .block-store {
            height: 200px;
            width: 302px;
            .link-store {
                position: absolute;
                overflow: hidden;
                width: 302px;
                height: 200px;
                .premium-store {
                    display: block;
                    height: 200px;
                    &:before {
                        content: "";
                        position: absolute;
                        background: url(../images/premium-store/wot_premshop-banner_ru_NO21NQQ.jpg) center/cover;
                        transition: all .5s;
                        width: 302px;
                        height: 200px;
                        display: block;
                    }
                    &:hover:before {
                        background-color: rgba(14,14,15,.5);
                        transform: scale(1.1);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        background-color: rgba(14,14,15,.5);
                        transition: all .5s;
                        width: 302px;
                        height: 200px;
                        opacity: 0;
                    }
                    &:hover:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}