@import "nulling-styles.scss";
@import "style-for-fonts.scss";
%display {
    display: flex;
    align-items: center;
}

header {
    width: 100%;
    height: 37px;
    background: black;
    .common_menu {
        padding: 0 10px;
        height: 100%;
        .left_menu {
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
            display: flex;
            .additional_tab {
                height: 100%;
                display: flex;
                .logo {
                    height: 100%;
                    @extend %display;
                    margin-right: 18px;
                    &__item {
                        background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                        background-position: 0% 1660px;
                        display: block;
                        height: 15px;
                        width: 70px;
                        opacity: .6;
                    }
                    &:hover .logo__item{
                        opacity: .9;
                    }
                }
                .showcase {
                    margin-right: 18px;
                    @extend %display;
                    cursor: pointer;
                    &__text {
                        font-size: 13px;
                        color: #e5e5e5;
                        opacity: .6;
                    }
                    &__check-mark {
                        background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                        background-position: 0 -570px;
                        opacity: .6;
                        width: 7px;
                        height: 4px;
                        margin-left: 7px;
                        margin-top: 3px;
                    }
                    .rotate {
                        transform: rotate(180deg);
                    }
                    &:hover .showcase__text {
                        transition: opacity ease-in-out 0.07s;
                        opacity: .9;
                    }
                    &:hover .showcase__check-mark {
                        transition: opacity ease-in-out 0.07s;
                        opacity: .9;
                    }
                }
            }
            .static-menu {
                display: flex;
                &__text {
                    height: 100%;
                    @extend %display;
                    color: #ffbe4c;
                    opacity: .6;
                    margin-right: 18px;
                }
                &__text:nth-child(2) {
                    color: #e5e5e5;
                }
                &__text:hover {
                    transition: opacity ease-in-out 0.07s;
                    opacity: .9;
                }
            }
        }
    }
}
.dropdown {
    background: url(../images/list-logo/0.jpg) 51%;
    height: 430px;
    width: 100%;
    opacity: 0;
    transition: all ease-in-out 0.15s;
    pointer-events: none;
    position: absolute;
    top: 0;
    .shadow-block {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
        height: 145px;
        width: 100%;
        .main-dropdown {
            margin: 0 auto;
            height: 100%;
            width: 955px;
            .showcase-list {
                display: flex;
                justify-content: center;
                &__items {
                    width: 115px;
                    height: 78px;
                    cursor: pointer;
                    margin-top: 30px;
                    margin-right: 40px;
                    .content-change {
                        display: block;
                        &__logo {
                            display: block;
                            svg {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        &__text {
                            font-family: Arial, Helvetica, sans-serif;
                            color: #9B9B9B;
                            display: block;
                            margin-top: 15px;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
                &__items:nth-child(3) {
                    width: 120px;
                    .content-change__text {
                        margin-top: 19px;
                    }
                }
                &__items:nth-child(5) {
                    width: 120px;
                    .content-change__logo {
                        margin-top: 6px;
                    }
                    .content-change__text{
                        margin-top: 24px;
                    }
                }
                &__items:nth-child(6) {
                    width: 120px;
                    margin-right: 0;
                    .content-change__logo {
                        margin-top: 10px;
                    }
                    .content-change__text {
                        margin-top: 24px;
                    }
                }
            }
        }
    }
    .media-block {
        height: 285px;
        width: 100%;
        .container {
            height: 100%;
            width: 1024px;
            display: flex;
            margin: 0 auto;
            .media-content {
                width: 390px;
                height: 100%;
                margin-right: 10px;
                &:nth-child(1) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:nth-child(2) {
                    background-color: rgba(0, 0, 0, 0.055);
                }
                &__logo-game {
                    background: url("../images/media-logo/Wc9we6f7SWeZPExOChwGRA.svg");
                    width: 170px;
                    height: 110px;
                }
            }
            .combine {
                display: flex;
                .combine-content {
                    font-family: Arial, Helvetica, sans-serif;
                    width: 370px;
                    &:nth-child(1) {
                        background: rgba(0, 0, 0, 0.13);
                        padding: 55px 20px 0;
                        width: 340px;
                    }
                    &:nth-child(2) {
                        background-color: rgba(0, 0, 0, 0.185);
                        padding: 55px 20px 0;
                        width: 272px;
                        .combine-content__title {
                            margin: 0 0 23px 9px;
                        }
                    }
                    &__title {
                        text-transform: uppercase;
                        color: #f25322;
                        font-size: 16px;
                        margin-bottom: 18px;
                    }
                    &__text {
                        font-size: 14px;
                        color: #e5e5e5;
                        line-height: 23px;
                    }
                    .platforms {
                        display: flex;
                        .platform {
                            display: flex;
                            margin: 15px 23px 0 0;
                            &__logo {
                                background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                                background-position: 0 -3180px;
                                margin-right: 4px;
                                width: 11px;
                                height: 15px;
                            }
                            &__text {
                                text-transform: uppercase;
                                font-size: 12px;
                                margin-top: 2px;
                                color: #e5e5e5;
                            }
                            &:nth-child(2) {
                                .platform__logo {
                                    background-position: 0 -60px;
                                }
                            }
                        }
                    }
                    .list-links {
                        &__items {
                            margin-bottom: 12px;
                            font-size: 13px;
                            color: #e5e5e5;
                            display: flex;
                            .point {
                                background-color: #e5e5e5;
                                margin: 6px 7px 0 0;
                                border-radius: 50%;
                                display: block;
                                width: 2px;
                                height: 2px;
                            }
                            .bottom-frame {
                                border-bottom: 1px solid #e5e5e500;
                                &:hover {
                                    border-bottom: 1px solid #e5e5e5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.showblock {
    pointer-events: initial;
    opacity: 1;
    top: 37px;
}