@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/KFOmCnqEu92Fr1Mu4mxK.ttf") format(ttf); }

header .common_menu .left_menu .additional_tab .logo, header .common_menu .left_menu .additional_tab .showcase, header .common_menu .left_menu .static-menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header {
  width: 100%;
  height: 37px;
  background: black; }
  header .common_menu {
    padding: 0 10px;
    height: 100%; }
    header .common_menu .left_menu {
      font-family: Arial, Helvetica, sans-serif;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .common_menu .left_menu .additional_tab {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .common_menu .left_menu .additional_tab .logo {
          height: 100%;
          margin-right: 18px; }
          header .common_menu .left_menu .additional_tab .logo__item {
            background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
            background-position: 0% 1660px;
            display: block;
            height: 15px;
            width: 70px;
            opacity: .6; }
          header .common_menu .left_menu .additional_tab .logo:hover .logo__item {
            opacity: .9; }
        header .common_menu .left_menu .additional_tab .showcase {
          margin-right: 18px;
          cursor: pointer; }
          header .common_menu .left_menu .additional_tab .showcase__text {
            font-size: 13px;
            color: #e5e5e5;
            opacity: .6; }
          header .common_menu .left_menu .additional_tab .showcase__check-mark {
            background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
            background-position: 0 -570px;
            opacity: .6;
            width: 7px;
            height: 4px;
            margin-left: 7px;
            margin-top: 3px; }
          header .common_menu .left_menu .additional_tab .showcase .rotate {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
          header .common_menu .left_menu .additional_tab .showcase:hover .showcase__text {
            -webkit-transition: opacity ease-in-out 0.07s;
            -o-transition: opacity ease-in-out 0.07s;
            transition: opacity ease-in-out 0.07s;
            opacity: .9; }
          header .common_menu .left_menu .additional_tab .showcase:hover .showcase__check-mark {
            -webkit-transition: opacity ease-in-out 0.07s;
            -o-transition: opacity ease-in-out 0.07s;
            transition: opacity ease-in-out 0.07s;
            opacity: .9; }
      header .common_menu .left_menu .static-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .common_menu .left_menu .static-menu__text {
          height: 100%;
          color: #ffbe4c;
          opacity: .6;
          margin-right: 18px; }
        header .common_menu .left_menu .static-menu__text:nth-child(2) {
          color: #e5e5e5; }
        header .common_menu .left_menu .static-menu__text:hover {
          -webkit-transition: opacity ease-in-out 0.07s;
          -o-transition: opacity ease-in-out 0.07s;
          transition: opacity ease-in-out 0.07s;
          opacity: .9; }

.dropdown {
  height: 430px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  pointer-events: none;
  position: absolute;
  z-index: 52;
  top: 0; }
  .dropdown .shadow-block {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.075)), color-stop(50%, rgba(0, 0, 0, 0.349)), to(rgba(0, 0, 0, 0.275)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
    position: absolute;
    height: 145px;
    width: 100%; }
    .dropdown .shadow-block .main-dropdown {
      margin: 0 auto;
      height: 100%;
      width: 955px; }
      .dropdown .shadow-block .main-dropdown .showcase-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items {
          width: 115px;
          height: 78px;
          cursor: pointer;
          margin-top: 30px;
          margin-right: 40px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change {
            display: block; }
            .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change__logo {
              display: block; }
              .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change__logo svg {
                display: block;
                margin: 0 auto; }
                .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change__logo svg .showcase-list__items:hover .change-color {
                  fill: blue; }
            .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change__text {
              font-family: Arial, Helvetica, sans-serif;
              color: #9B9B9B;
              display: block;
              margin-top: 15px;
              text-align: center;
              font-size: 14px; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(3) {
          width: 120px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(3) .content-change__text {
            margin-top: 19px; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(5) {
          width: 120px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(5) .content-change__logo {
            margin-top: 6px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(5) .content-change__text {
            margin-top: 24px; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(6) {
          width: 120px;
          margin-right: 0; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(6) .content-change__logo {
            margin-top: 10px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(6) .content-change__text {
            margin-top: 24px; }
  .dropdown .group-blocks {
    padding-top: 145px; }
    .dropdown .group-blocks .media-block {
      height: 285px;
      width: 100%; }
      .dropdown .group-blocks .media-block .container {
        height: 100%;
        width: 1024px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto; }
        .dropdown .group-blocks .media-block .container .media-content {
          width: 390px;
          height: 100%;
          margin: 0 10px 0 5px; }
          .dropdown .group-blocks .media-block .container .media-content:nth-child(1) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          .dropdown .group-blocks .media-block .container .media-content:nth-child(2) {
            background-color: rgba(0, 0, 0, 0.055); }
          .dropdown .group-blocks .media-block .container .media-content__logo-game {
            background: url("../images/media-logo/Wc9we6f7SWeZPExOChwGRA.svg") no-repeat;
            width: 170px;
            height: 110px; }
        .dropdown .group-blocks .media-block .container .combine {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .dropdown .group-blocks .media-block .container .combine .combine-content {
            font-family: Arial, Helvetica, sans-serif;
            width: 370px; }
            .dropdown .group-blocks .media-block .container .combine .combine-content:nth-child(1) {
              background: rgba(0, 0, 0, 0.13);
              padding: 55px 20px 0;
              width: 340px; }
            .dropdown .group-blocks .media-block .container .combine .combine-content:nth-child(2) {
              background-color: rgba(0, 0, 0, 0.185);
              padding: 55px 20px 0;
              width: 266px; }
              .dropdown .group-blocks .media-block .container .combine .combine-content:nth-child(2) .combine-content__title {
                margin: 0 0 23px 9px; }
            .dropdown .group-blocks .media-block .container .combine .combine-content__title {
              text-transform: uppercase;
              color: #f25322;
              font-size: 16px;
              margin-bottom: 18px; }
            .dropdown .group-blocks .media-block .container .combine .combine-content__text {
              font-size: 14px;
              color: #e5e5e5;
              line-height: 23px; }
            .dropdown .group-blocks .media-block .container .combine .combine-content .platforms {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex; }
              .dropdown .group-blocks .media-block .container .combine .combine-content .platforms .platform {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 15px 23px 0 0; }
                .dropdown .group-blocks .media-block .container .combine .combine-content .platforms .platform__logo {
                  background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                  background-position: 0 -3180px;
                  margin-right: 4px;
                  width: 11px;
                  height: 15px; }
                .dropdown .group-blocks .media-block .container .combine .combine-content .platforms .platform__text {
                  text-transform: uppercase;
                  font-size: 12px;
                  margin-top: 2px;
                  color: #e5e5e5; }
                .dropdown .group-blocks .media-block .container .combine .combine-content .platforms .platform:nth-child(2) .platform__logo {
                  background-position: 0 -60px; }
                .dropdown .group-blocks .media-block .container .combine .combine-content .platforms .platform:nth-child(2) .platform__logo {
                  background-position: 0 -30px;
                  width: 13px; }
                .dropdown .group-blocks .media-block .container .combine .combine-content .platforms .platform:nth-child(3) .platform__logo {
                  background-position: 0 -60px; }
                .dropdown .group-blocks .media-block .container .combine .combine-content .platforms .platform:nth-child(4) .platform__logo {
                  background-position: 0 -60px; }
            .dropdown .group-blocks .media-block .container .combine .combine-content .list-links__items {
              margin-bottom: 12px; }
              .dropdown .group-blocks .media-block .container .combine .combine-content .list-links__items .link-point {
                font-size: 13px;
                color: #e5e5e5;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex; }
              .dropdown .group-blocks .media-block .container .combine .combine-content .list-links__items .point {
                background-color: #e5e5e5;
                margin: 6px 7px 0 0;
                border-radius: 50%;
                display: block;
                width: 2px;
                height: 2px; }
              .dropdown .group-blocks .media-block .container .combine .combine-content .list-links__items .bottom-frame {
                border-bottom: 1px solid #e5e5e500; }
                .dropdown .group-blocks .media-block .container .combine .combine-content .list-links__items .bottom-frame:hover {
                  border-bottom: 1px solid #e5e5e5; }
    .dropdown .group-blocks:nth-child(2) {
      background: url(../images/list-logo/0.jpg) 51%; }
    .dropdown .group-blocks:nth-child(3) {
      background: url(../images/list-logo/1.jpg) 51%;
      display: none; }
      .dropdown .group-blocks:nth-child(3) .media-block .container .combine .combine-content__title {
        color: #00cbcd; }
      .dropdown .group-blocks:nth-child(3) .media-block .container .media-content__logo-game {
        background: url("../images/media-logo/ajCX6d89TnSui2OA3TeFEQ.svg") no-repeat; }
    .dropdown .group-blocks:nth-child(4) {
      background: url(../images/list-logo/2.jpg) 51%;
      display: none; }
      .dropdown .group-blocks:nth-child(4) .media-block .container .combine .combine-content__title {
        color: #1e5aff; }
      .dropdown .group-blocks:nth-child(4) .media-block .container .combine .combine-content .platforms .platform:nth-child(2) .platform__logo {
        background-position: 0% 1660px;
        width: 70px; }
      .dropdown .group-blocks:nth-child(4) .media-block .container .media-content__logo-game {
        background: url("../images/media-logo/FTVUgYTtSDKax6W2wTcuGQ.svg") no-repeat; }
    .dropdown .group-blocks:nth-child(5) {
      background: url(../images/list-logo/3.jpg) 51%;
      display: none; }
      .dropdown .group-blocks:nth-child(5) .media-block .container .combine .combine-content__title {
        color: #f49511; }
      .dropdown .group-blocks:nth-child(5) .media-block .container .media-content__logo-game {
        background: url("../images/media-logo/yv3mgkbvSU2cyr-hoYm-RA.svg") no-repeat; }
    .dropdown .group-blocks:nth-child(6) {
      background: url(../images/list-logo/4.jpg) 51%;
      display: none; }
      .dropdown .group-blocks:nth-child(6) .media-block .container .combine .combine-content__title {
        color: #ffc83c; }
      .dropdown .group-blocks:nth-child(6) .media-block .container .media-content__logo-game {
        background: url("../images/media-logo/xqT9r-laSye-MXwf9nOSBQ.svg") no-repeat;
        width: 100%;
        height: 100%; }
    .dropdown .group-blocks:nth-child(7) {
      background: url(../images/list-logo/5.jpg) 51%;
      display: none; }
      .dropdown .group-blocks:nth-child(7) .media-block .container .combine .combine-content__title {
        color: #d19834; }
      .dropdown .group-blocks:nth-child(7) .media-block .container .media-content__logo-game {
        background: url("../images/media-logo/2A13Rhr2T1uWz-gj_ENzjQ.svg") no-repeat;
        width: 210px;
        height: 35px; }

.showblock {
  pointer-events: initial;
  opacity: 1;
  top: 37px; }

.main-heading .title-bacground {
  width: 100%;
  height: 441px;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 -172px;
  object-position: 0 -172px;
  z-index: 30; }

.main-heading .nav-menu {
  background-color: rgba(39, 39, 43, 0.85);
  border-top: 1px solid rgba(255, 255, 255, 0.082);
  font-family: Arial, Helvetica, sans-serif;
  height: 66px;
  z-index: 51;
  position: relative; }
  .main-heading .nav-menu .menu-registration {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-heading .nav-menu .menu-registration .main-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-heading .nav-menu .menu-registration .main-menu__items:hover .nav-links {
        color: #fab81b !important; }
      .main-heading .nav-menu .menu-registration .main-menu__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 35px;
        cursor: pointer; }
        .main-heading .nav-menu .menu-registration .main-menu__items .nav-links {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          color: #aaaaab;
          line-height: 65px; }
        .main-heading .nav-menu .menu-registration .main-menu__items .nav-arrow {
          background: url(../images/arrow/down.svg) no-repeat;
          background-position: center;
          position: relative;
          margin: 17px 0 2px 10px;
          width: 28px;
          height: 28px; }
        .main-heading .nav-menu .menu-registration .main-menu__items .nav-arrow:before {
          content: "";
          position: absolute;
          height: 10px;
          width: 1px;
          top: 10px;
          background-color: #aaaaab; }
        .main-heading .nav-menu .menu-registration .main-menu__items .nav-arrow:hover:before {
          background-color: #fab81b !important; }
        .main-heading .nav-menu .menu-registration .main-menu__items .nav-arrow:hover {
          background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA3IiB3aWR0aD0iOCIgaGVpZ2h0PSI1Ij48cGF0aCBmaWxsPSIjM2MyZjEyIiBkPSJNMTIgMlYwaC0xTDYgNCAxIDBIMHYybDUuOSA1SDZ6Ii8+PC9zdmc+) no-repeat;
          background-position: center;
          background-color: #fab81b;
          cursor: pointer; }
      .main-heading .nav-menu .menu-registration .main-menu__items:nth-child(1) {
        background: url(../images/logo-wot/download.svg) no-repeat;
        background-position: 0 center;
        margin-left: 0;
        height: 44px;
        width: 128px; }
      .main-heading .nav-menu .menu-registration .main-menu__items:nth-child(5) .ten-years {
        position: relative;
        height: 65px;
        width: 70px; }
        .main-heading .nav-menu .menu-registration .main-menu__items:nth-child(5) .ten-years::before {
          background: url(../images/10-year/10-year-icon.png) center/contain;
          margin: 10px 0 0 0px;
          position: absolute;
          content: "";
          z-index: 12;
          height: 44px;
          width: 44px; }
        .main-heading .nav-menu .menu-registration .main-menu__items:nth-child(5) .ten-years::after {
          content: "";
          background: url(../images/10-year/10y-icon-hover.png) center;
          -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
          -webkit-transition: opacity .7s;
          -o-transition: opacity .7s;
          transition: opacity .7s;
          margin: -29px 0 0 -96px;
          background-size: 130%;
          position: absolute;
          pointer-events: none;
          opacity: 0;
          height: 120px;
          width: 100px;
          z-index: 10; }
        .main-heading .nav-menu .menu-registration .main-menu__items:nth-child(5) .ten-years:hover::after {
          opacity: 1; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
        .main-heading .nav-menu .menu-registration .main-menu__items:nth-child(5) .ten-years .rotate-hover {
          opacity: 1; }
        .main-heading .nav-menu .menu-registration .main-menu__items:nth-child(5) .ten-years__text {
          background: -webkit-gradient(linear, left bottom, left top, from(#d19235), color-stop(8%, #cd6a11), color-stop(26%, #d87519), color-stop(61%, #f2bf65), to(#ffff91));
          background: -webkit-linear-gradient(bottom, #d19235 0%, #cd6a11 8%, #d87519 26%, #f2bf65 61%, #ffff91 100%);
          background: -o-linear-gradient(bottom, #d19235 0%, #cd6a11 8%, #d87519 26%, #f2bf65 61%, #ffff91 100%);
          background: linear-gradient(to top, #d19235 0%, #cd6a11 8%, #d87519 26%, #f2bf65 61%, #ffff91 100%);
          font-family: Arial, Helvetica, sans-serif;
          -webkit-background-clip: text;
          text-transform: uppercase;
          margin-left: 40px;
          color: transparent;
          line-height: 65px;
          font-weight: 600; }
      .main-heading .nav-menu .menu-registration .main-menu .nav-list {
        background-color: rgba(39, 39, 43, 0.93);
        position: absolute;
        margin-left: -20px;
        top: 65px;
        display: none; }
        .main-heading .nav-menu .menu-registration .main-menu .nav-list__link {
          display: block;
          padding: 14px 16px;
          color: #aaaaab;
          font-size: 14px; }
        .main-heading .nav-menu .menu-registration .main-menu .nav-list__link:hover {
          color: #fab81b !important; }
        .main-heading .nav-menu .menu-registration .main-menu .nav-list .nav-list:first-child .nav-list__items:nth-child(2) {
          text-transform: uppercase; }
    .main-heading .nav-menu .menu-registration .registration {
      background: -webkit-gradient(linear, left top, left bottom, from(#fab81b), to(#ef4511)) no-repeat 0, -webkit-gradient(linear, left top, left bottom, from(#fab81b), to(#ef4511)) no-repeat 100%, #f25322 -webkit-gradient(linear, left top, left bottom, from(#f60), to(#a6230e)) no-repeat;
      background: -webkit-linear-gradient(top, #fab81b 0%, #ef4511 100%) no-repeat 0, -webkit-linear-gradient(top, #fab81b 0%, #ef4511 100%) no-repeat 100%, #f25322 -webkit-linear-gradient(top, #f60 0%, #a6230e 100%) no-repeat;
      background: -o-linear-gradient(top, #fab81b 0%, #ef4511 100%) no-repeat 0, -o-linear-gradient(top, #fab81b 0%, #ef4511 100%) no-repeat 100%, #f25322 -o-linear-gradient(top, #f60 0%, #a6230e 100%) no-repeat;
      background: linear-gradient(to bottom, #fab81b 0%, #ef4511 100%) no-repeat 0, linear-gradient(to bottom, #fab81b 0%, #ef4511 100%) no-repeat 100%, #f25322 linear-gradient(to bottom, #f60 0%, #a6230e 100%) no-repeat;
      -webkit-box-shadow: 0 2px 0 #661000, inset 0 0 8px rgba(255, 210, 0, 0.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ef4511;
      box-shadow: 0 2px 0 #661000, inset 0 0 8px rgba(255, 210, 0, 0.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ef4511;
      background-size: 1px 100%,1px 100%,cover;
      width: 185px;
      height: 44px; }
      .main-heading .nav-menu .menu-registration .registration__text {
        text-transform: uppercase;
        position: relative;
        z-index: 31;
        font-weight: 700;
        line-height: 45px;
        color: #f9f5e1;
        font-size: 12px;
        text-align: center;
        display: block; }
      .main-heading .nav-menu .menu-registration .registration:before {
        background: -webkit-gradient(linear, left top, left bottom, from(#fab81b), to(#ff7e00)) no-repeat 0, -webkit-gradient(linear, left top, left bottom, from(#fab81b), to(#ff7e00)) no-repeat 100%, #ff7e00 -webkit-gradient(linear, left top, left bottom, from(#ff7e00), to(#c2530a)) no-repeat;
        background: -webkit-linear-gradient(top, #fab81b 0%, #ff7e00 100%) no-repeat 0, -webkit-linear-gradient(top, #fab81b 0%, #ff7e00 100%) no-repeat 100%, #ff7e00 -webkit-linear-gradient(top, #ff7e00 0%, #c2530a 100%) no-repeat;
        background: -o-linear-gradient(top, #fab81b 0%, #ff7e00 100%) no-repeat 0, -o-linear-gradient(top, #fab81b 0%, #ff7e00 100%) no-repeat 100%, #ff7e00 -o-linear-gradient(top, #ff7e00 0%, #c2530a 100%) no-repeat;
        background: linear-gradient(to bottom, #fab81b 0%, #ff7e00 100%) no-repeat 0, linear-gradient(to bottom, #fab81b 0%, #ff7e00 100%) no-repeat 100%, #ff7e00 linear-gradient(to bottom, #ff7e00 0%, #c2530a 100%) no-repeat;
        -webkit-box-shadow: inset 0 0 8px rgba(255, 210, 0, 0.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ff7e00;
        box-shadow: inset 0 0 8px rgba(255, 210, 0, 0.1), inset 0 1px 0 #fab81b, inset 0 -1px 0 #ff7e00;
        background-size: 1px 100%,1px 100%,cover;
        position: absolute;
        -webkit-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s;
        opacity: 0;
        content: "";
        z-index: 30;
        width: 185px;
        height: 44px; }
      .main-heading .nav-menu .menu-registration .registration:hover:before {
        opacity: 1; }

.main-heading .cross {
  background: url(../images/icon/cross.svg) center no-repeat;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  margin-top: 20px;
  cursor: pointer;
  z-index: 50;
  width: 32px;
  height: 32px;
  right: 20px; }

.main-heading .container-box {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 50;
  width: 1330px;
  margin: 0 auto; }
  .main-heading .container-box .promo-block {
    margin: 0 auto;
    width: 675px; }
    .main-heading .container-box .promo-block .limited-height {
      -webkit-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      overflow: hidden;
      height: 300px; }
      .main-heading .container-box .promo-block .limited-height .promo-title {
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        padding: 80px 0; }
        .main-heading .container-box .promo-block .limited-height .promo-title__title {
          font-size: 41px;
          font-weight: 600;
          line-height: 46px;
          color: #f9f5e1;
          text-align: center; }
        .main-heading .container-box .promo-block .limited-height .promo-title__text {
          margin-bottom: 25px;
          line-height: 24px;
          color: #e9e2bf;
          font-size: 17px; }
        .main-heading .container-box .promo-block .limited-height .promo-title .learn-more {
          margin: 0 auto;
          width: 160px;
          height: 44px; }
          .main-heading .container-box .promo-block .limited-height .promo-title .learn-more__text {
            border: 2px solid #f9f5e1;
            -webkit-transition: background .15s;
            -o-transition: background .15s;
            transition: background .15s;
            text-transform: uppercase;
            text-align: center;
            line-height: 40px;
            font-weight: 700;
            color: #f9f5e1;
            font-size: 13px;
            display: block; }
          .main-heading .container-box .promo-block .limited-height .promo-title .learn-more:hover .learn-more__text {
            background: #f9f5e1;
            color: #474747; }
      .main-heading .container-box .promo-block .limited-height .logo-wot {
        background: url(../images/logo-wot/logo.png) center/contain no-repeat;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        opacity: 0;
        margin: 0 auto;
        width: 272px;
        height: 135px; }
      .main-heading .container-box .promo-block .limited-height .under-wot {
        margin-top: -270px;
        opacity: 0; }
      .main-heading .container-box .promo-block .limited-height .over-wot {
        opacity: 1; }
    .main-heading .container-box .promo-block .low-block {
      height: 180px; }

.main-heading .slider-store {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 50;
  width: 1330px;
  margin: 0 auto; }
  .main-heading .slider-store .slider-block {
    background: #4b4b4e;
    width: 986px;
    height: 200px; }
  .main-heading .slider-store .block-store {
    height: 200px;
    width: 302px; }
    .main-heading .slider-store .block-store .link-store {
      position: absolute;
      overflow: hidden;
      width: 302px;
      height: 200px; }
      .main-heading .slider-store .block-store .link-store .premium-store {
        display: block;
        height: 200px; }
        .main-heading .slider-store .block-store .link-store .premium-store:before {
          content: "";
          position: absolute;
          background: url(../images/premium-store/wot_premshop-banner_ru_NO21NQQ.jpg) center/cover;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          width: 302px;
          height: 200px;
          display: block; }
        .main-heading .slider-store .block-store .link-store .premium-store:hover:before {
          background-color: rgba(14, 14, 15, 0.5);
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
        .main-heading .slider-store .block-store .link-store .premium-store:after {
          content: "";
          position: absolute;
          background-color: rgba(14, 14, 15, 0.5);
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          width: 302px;
          height: 200px;
          opacity: 0; }
        .main-heading .slider-store .block-store .link-store .premium-store:hover:after {
          opacity: 1; }
