@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/KFOmCnqEu92Fr1Mu4mxK.ttf") format(ttf); }

header .common_menu .left_menu .additional_tab .logo, header .common_menu .left_menu .additional_tab .showcase, header .common_menu .left_menu .static-menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header {
  width: 100%;
  height: 37px;
  background: black; }
  header .common_menu {
    padding: 0 10px;
    height: 100%; }
    header .common_menu .left_menu {
      font-family: Arial, Helvetica, sans-serif;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .common_menu .left_menu .additional_tab {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .common_menu .left_menu .additional_tab .logo {
          height: 100%;
          margin-right: 18px; }
          header .common_menu .left_menu .additional_tab .logo__item {
            background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
            background-position: 0% 1660px;
            display: block;
            height: 15px;
            width: 70px;
            opacity: .6; }
          header .common_menu .left_menu .additional_tab .logo:hover .logo__item {
            opacity: .9; }
        header .common_menu .left_menu .additional_tab .showcase {
          margin-right: 18px;
          cursor: pointer; }
          header .common_menu .left_menu .additional_tab .showcase__text {
            font-size: 13px;
            color: #e5e5e5;
            opacity: .6; }
          header .common_menu .left_menu .additional_tab .showcase__check-mark {
            background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
            background-position: 0 -570px;
            opacity: .6;
            width: 7px;
            height: 4px;
            margin-left: 7px;
            margin-top: 3px; }
          header .common_menu .left_menu .additional_tab .showcase .rotate {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
          header .common_menu .left_menu .additional_tab .showcase:hover .showcase__text {
            -webkit-transition: opacity ease-in-out 0.07s;
            -o-transition: opacity ease-in-out 0.07s;
            transition: opacity ease-in-out 0.07s;
            opacity: .9; }
          header .common_menu .left_menu .additional_tab .showcase:hover .showcase__check-mark {
            -webkit-transition: opacity ease-in-out 0.07s;
            -o-transition: opacity ease-in-out 0.07s;
            transition: opacity ease-in-out 0.07s;
            opacity: .9; }
      header .common_menu .left_menu .static-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .common_menu .left_menu .static-menu__text {
          height: 100%;
          color: #ffbe4c;
          opacity: .6;
          margin-right: 18px; }
        header .common_menu .left_menu .static-menu__text:nth-child(2) {
          color: #e5e5e5; }
        header .common_menu .left_menu .static-menu__text:hover {
          -webkit-transition: opacity ease-in-out 0.07s;
          -o-transition: opacity ease-in-out 0.07s;
          transition: opacity ease-in-out 0.07s;
          opacity: .9; }

.dropdown {
  background: url(../images/list-logo/0.jpg) 51%;
  height: 430px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  pointer-events: none;
  position: absolute;
  top: 0; }
  .dropdown .shadow-block {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.075)), color-stop(50%, rgba(0, 0, 0, 0.349)), to(rgba(0, 0, 0, 0.275)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.349) 50%, rgba(0, 0, 0, 0.275) 100%);
    height: 145px;
    width: 100%; }
    .dropdown .shadow-block .main-dropdown {
      margin: 0 auto;
      height: 100%;
      width: 955px; }
      .dropdown .shadow-block .main-dropdown .showcase-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items {
          width: 115px;
          height: 78px;
          cursor: pointer;
          margin-top: 30px;
          margin-right: 40px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change {
            display: block; }
            .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change__logo {
              display: block; }
              .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change__logo svg {
                display: block;
                margin: 0 auto; }
            .dropdown .shadow-block .main-dropdown .showcase-list__items .content-change__text {
              font-family: Arial, Helvetica, sans-serif;
              color: #9B9B9B;
              display: block;
              margin-top: 15px;
              text-align: center;
              font-size: 14px; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(3) {
          width: 120px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(3) .content-change__text {
            margin-top: 19px; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(5) {
          width: 120px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(5) .content-change__logo {
            margin-top: 6px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(5) .content-change__text {
            margin-top: 24px; }
        .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(6) {
          width: 120px;
          margin-right: 0; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(6) .content-change__logo {
            margin-top: 10px; }
          .dropdown .shadow-block .main-dropdown .showcase-list__items:nth-child(6) .content-change__text {
            margin-top: 24px; }
  .dropdown .media-block {
    height: 285px;
    width: 100%; }
    .dropdown .media-block .container {
      height: 100%;
      width: 1024px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto; }
      .dropdown .media-block .container .media-content {
        width: 390px;
        height: 100%;
        margin-right: 10px; }
        .dropdown .media-block .container .media-content:nth-child(1) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .dropdown .media-block .container .media-content:nth-child(2) {
          background-color: rgba(0, 0, 0, 0.055); }
        .dropdown .media-block .container .media-content__logo-game {
          background: url("../images/media-logo/Wc9we6f7SWeZPExOChwGRA.svg");
          width: 170px;
          height: 110px; }
      .dropdown .media-block .container .combine {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .dropdown .media-block .container .combine .combine-content {
          font-family: Arial, Helvetica, sans-serif;
          width: 370px; }
          .dropdown .media-block .container .combine .combine-content:nth-child(1) {
            background: rgba(0, 0, 0, 0.13);
            padding: 55px 20px 0;
            width: 340px; }
          .dropdown .media-block .container .combine .combine-content:nth-child(2) {
            background-color: rgba(0, 0, 0, 0.185);
            padding: 55px 20px 0;
            width: 272px; }
            .dropdown .media-block .container .combine .combine-content:nth-child(2) .combine-content__title {
              margin: 0 0 23px 9px; }
          .dropdown .media-block .container .combine .combine-content__title {
            text-transform: uppercase;
            color: #f25322;
            font-size: 16px;
            margin-bottom: 18px; }
          .dropdown .media-block .container .combine .combine-content__text {
            font-size: 14px;
            color: #e5e5e5;
            line-height: 23px; }
          .dropdown .media-block .container .combine .combine-content .platforms {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .dropdown .media-block .container .combine .combine-content .platforms .platform {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              margin: 15px 23px 0 0; }
              .dropdown .media-block .container .combine .combine-content .platforms .platform__logo {
                background: url("https://cdn-cm.gcdn.co/img/main_sprite_1.1.16.svg");
                background-position: 0 -3180px;
                margin-right: 4px;
                width: 11px;
                height: 15px; }
              .dropdown .media-block .container .combine .combine-content .platforms .platform__text {
                text-transform: uppercase;
                font-size: 12px;
                margin-top: 2px;
                color: #e5e5e5; }
              .dropdown .media-block .container .combine .combine-content .platforms .platform:nth-child(2) .platform__logo {
                background-position: 0 -60px; }
          .dropdown .media-block .container .combine .combine-content .list-links__items {
            margin-bottom: 12px;
            font-size: 13px;
            color: #e5e5e5;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .dropdown .media-block .container .combine .combine-content .list-links__items .point {
              background-color: #e5e5e5;
              margin: 6px 7px 0 0;
              border-radius: 50%;
              display: block;
              width: 2px;
              height: 2px; }
            .dropdown .media-block .container .combine .combine-content .list-links__items .bottom-frame {
              border-bottom: 1px solid #e5e5e500; }
              .dropdown .media-block .container .combine .combine-content .list-links__items .bottom-frame:hover {
                border-bottom: 1px solid #e5e5e5; }

.showblock {
  pointer-events: initial;
  opacity: 1;
  top: 37px; }
